.FeeliesPage img {
    max-width: 100%;
    object-fit: contain;
}

.FeeliesPage .Feelie {
    text-align: center;
}

.ChartTable {
    border: 1px solid #CCC;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
}

.ChartTable td {
    text-align: right;
    padding: 0px 4px;
}

.ChartTable td.LabelRow {
    font-style: italic;
    text-align: center;
    padding-top: 0.5rem;
}

.ChartTable td .ChartExtra {
    font-style: italic;
    font-size: 85%;
}
